html, body{
    background: rgb(238, 223, 190)
}
h1, p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
    /* padding-bottom:1em; */
}
h1{
    font-size: 2em;
    margin: auto;
    margin-bottom: 0.5em;
}
h2{
    font-size: 1.2em;
    max-width: 470px;
    margin: auto;
    margin-bottom: 1em;
}


main {
    /* position: absolute; */
    /* z-index: 10; */
    margin: 1em;
    /* padding: 2em; */
    /* max-width: 600px; */
    text-align: center;
    width: 100vw;
    /* fit-content: 470px */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.socialicon {
    width: 4em;
}
.socialicon:hover{
    opacity: 0.8;
}
#sketch {
    /* position: absolute; */
    /* z-index: -1; */
    /* width: 100vw; height: 100vh; */
}